<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        h1 {
            font-size: 36px;
            color: black;
        }
    </style>
</head>
<body>
<h1>Olá! Essa é a primeira atividade valendo nota!</h1>
<p>Nesse projeto temos essa rota principal que descreve o projeto.<br>
    Alem da rota principal temos mais 3 rotas, que são: <br>
    1ª Rota - Calculadora de IMC<br>
    2ª Rota - Retorna o texto inserido na URL pelo usuário <br>
    3ª Rota - Retorna a médida das notas inseridas.<br><br>
    Nas rotas abaixo você deve substituir o que está entre as chaves {  }, colocando os valores que deseja ou o seu texto</p><br>
<h3>Rota principal:  http://localhost:3500/</h3>
<h3>http://localhost:3500/imc/{peso}/{altura}</h3>
<h3>http://localhost:3500/texto/{texto}</h3>
<h3>http://localhost:3500/nota/{nota1}/{nota2}</h3><br><br>

<h2>Nesse projeto também temos a ligacao com o banco de dados,onde podemos inserir
    informações em formato JSON,por meio do Postmann,configurado como POST,usando o endereço:</h2>
<p>http://localhost:8080/api/v1/usuarios</p>
<p>Preenchendo os dados JSON de envio,conforme abaixo:</p>
<p>{<br>
    "username":"email.qualquer",<br>
    "password":"senhaQualquer",<br>
    "role":"ROLE_ADMIN"<br>
    }</p>


<h2>Os integrantes do grupo são:</h2><br>
<p> Eliel Pedrosa Melo Junior RGM: 29683131<br>
    Lucas Gonçalves dos Santos RGM: 4030329981</p>
</body>
</html>
