<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        h1 {
            font-size: 36px;
            color: black;
        }
    </style>
</head>
<body>
<h1>Bem-vindo! Esta é a rota raiz.</h1>
<p>Nesse projeto temos essa rota principal que descreve o projeto.
    Alem da rota principal temos mais 3 rotas,uma para calcular o IMC,outra para retornar qualquer texto inserido pelo
    usuario e a ultima que o usuario insere duas notas e elas são somadas.Nessa apresentação das rotas,onde tem as chaves,
    devemos inserir os valores sem elas.
    As mesmas são indicaçao que precisa de uma substituição pelos valores</p>
<h3>Rota principal:  http://localhost:8080/</h3>
<h3>http://localhost:8080/imc/{peso}/{altura}</h3>
<h3>http://localhost:8080/texto/{texto}</h3>
<h3>http://localhost:8080/nota/{nota1}/{nota2}</h3>
<h2>Nesse projeto também temos a ligacao com o banco de dados,onde podemos inserir
    informações em formato JSON,por meio do Postmann,configurado como POST,usando o endereço:</h2>
<p>http://localhost:8080/api/v1/usuarios</p>
<p>Preenchendo os dados JSON de envio,conforme abaixo:</p>
<p>{<br>
    "username":"email.qualquer",<br>
    "password":"senhaQualquer",<br>
    "role":"ROLE_ADMIN"<br>
    }</p>
<h2>Nosso grupo e composto por:</h2>
<p>-Cleuvis Soares,<br><br>
    -Lucas zanon,<br><br>
    -Allan Medeiros<br></p>
</body>
</html>
